<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <!-- resultType = select O insert X   mybatis 페이지 참조 -->

    <!-- * -> 목록 다 쳐주는게 좋음
    select *
    from member.merber2
    where member_email = #{id}
    and member_pwd = #{pw}
    -->


     <select id="getUserList" resultType="com.example.domain.User">

        SELECT * FROM member.member2;


    </select>

    <insert id="signUser" >
        insert into member.member2 (
        member_id   <!-- auto인크리먼트 적용후 삭제 -->  --주석
        ,member_email
        ,member_pwd
        ,member_username
        ,member_regi_type
        ,member_regi_date
        ,member_image
        ,member_intro
        ,member_birth
        ) values (

        2   -- auto 인크리먼트 적용후 삭제
        , #{id}
        , #{pw}
        , '1234'
        , '123445'
        , '123445'
        , '123312312'
        , '12312313'
        , '20230921'
        )
    </insert>
</mapper>